html {
  scroll-behavior: smooth !important;
}

.scroll-top {
  align-items: center;
  justify-content: center;
}
.scroll-top:hover {
  color: black;
}

.main-menu .navbar-collapse li {
  cursor: pointer;
}
.main-menu .navbar-collapse li.dropdown:hover > ul {
  display: block;
}

.testimonials-wrap .slick-slide {
  padding: 0 15px;
}

.project-item.style-four {
  position: relative;
}



.image-container {
  @media (max-width: 600px) {
    padding-top: 100px;
  }
}
.image-container img{
  @media (max-width: 600px) {
    height:400px;
  }
}


#main-nav {
  @media (max-width: 950px) {
    background-color: #b09c6d;
    width:auto;
  }
}


